body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

#dzialanie{
    font-size: 20px;
    display:inline;
    margin-bottom: 20px;
}

#wynik{
    font-weight: bold;
    font-size: 24px;
    display:inline;
    margin-bottom: 20px;
}